<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
<div class="main">
    <h1 class="main__caption">Find your movie!</h1>
    <input type="text" class="enter-movie" value="" placeholder="Enter movie">
    <input type="submit" class="find-movie" value="Search">
</div>

<div class="movie__show"></div>


<script id="movie" type="text/x-handlebars-template">

    <div class="movie__img">
        <img src="{{Poster}}" >
    </div>

    <div id="myData" class="movie">
        <p class="movie__text"> Title : {{Title}} </p>
        <div class="movie__line"></div>
        <p class="movie__text"> Year: {{Year}} </p>
        <div class="movie__line"></div>
        <p class="movie__text"> Genre : {{Genre}} </p>
        <div class="movie__line"></div>
        <p class="movie__text"> Director : {{Director}} </p>
        <div class="movie__line"></div>
        <p class="movie__text"> Writer : {{Writer}} </p>
        <div class="movie__line"></div>
        <p class="movie__text"> Runtime : {{Runtime}} </p>
    </div>

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="../static/scripts/main.js"></script>

</body>
</html>